@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  list-style: none;
  text-decoration: none;
}

footer {
  background: linear-gradient(0deg, rgb(214, 214, 214) 0%, rgb(255, 255, 255) 100%);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
footer ul {
  text-align: center;
  margin-top: 20px;
  font-size: 1rem;
}
footer ul li {
  padding: 1px;
}
footer ul li a {
  transition: all 0.3s ease 0s;
}
footer ul li a:hover {
  color: rgb(204, 146, 81);
}
footer a {
  text-decoration: none;
  color: black;
}
footer img {
  margin: 30px;
  border-radius: 50%;
  border: 1px solid rgb(210, 210, 210);
  width: 120px;
  height: 120px;
}

.red {
  text-align: left;
}

.redes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: nowrap;
  font-size: 1.2rem;
}

.color_header {
  background: linear-gradient(0deg, rgb(255, 255, 255) 37%, rgb(214, 214, 214) 100%);
  color: rgb(121, 75, 15);
}

.navbar-nav {
  font-size: 1.1rem;
}

.navbar a {
  color: rgb(121, 75, 15);
  text-decoration: none;
}

.nav-link,
.navbar-nav .nav-link.active {
  color: rgb(121, 75, 15);
}

.tarjeta_zapato_boton {
  background-color: rgb(220, 165, 93);
  color: antiquewhite;
  padding: 5px 10px;
  border-radius: 20px;
  margin-bottom: 5px;
}
.tarjeta_zapato_boton:hover {
  border: rgb(204, 146, 81) 2px solid;
  background-color: antiquewhite;
  color: rgb(215, 120, 24);
}

.tarjeta {
  width: 200px;
  height: 200px;
  border: 1px solid rgb(199, 198, 198);
  background-color: whitesmoke;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  margin: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
@media (max-width: 576px) {
  .tarjeta {
    width: 300px;
    height: 300px;
    font-size: 1.4rem;
  }
}
.tarjeta p {
  padding: 5px;
}
.tarjeta h3 {
  font-family: pacifico, "Lucida Sans";
  font-weight: 100;
  border-bottom: solid;
  font-size: 1.2rem;
  padding: 5px;
}

.tarjeta_img {
  background-color: white;
  width: 200px;
  height: 220px;
  border: none;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: nowrap;
  margin: 10px;
  text-align: center;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
@media (max-width: 576px) {
  .tarjeta_img {
    width: 320px;
    height: 350px;
  }
}
.tarjeta_img img {
  object-fit: cover;
  border-radius: 20px;
}
.tarjeta_img img:hover {
  transform: scale(1.4);
  transition: all 1s ease;
}
.tarjeta_img h3 {
  font-size: 1.5rem;
}

.tarjeta_zapato {
  /* width: 250px;
  height: 350px; */
  width: 230px;
  height: 330px;
  border: 2px none black;
  border-radius: 20px;
  background-color: #f5f5f5;
  margin-bottom: 10px;
  /* background: linear-gradient(0deg, rgba(255,231,170,1) 0%, rgba(255,255,255,1) 31%, rgba(245,245,245,1) 100%);  */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}
@media (max-width: 576px) {
  .tarjeta_zapato {
    width: 330px;
    height: 430px;
  }
}
.tarjeta_zapato img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.tarjeta_zapato h3 {
  margin: 0;
}
.tarjeta_zapato p {
  margin: 0;
  padding: 3px;
}

.fondo-foto {
  height: 500px;
  background-image: url(../assets/img/zapa_contactos.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

input {
  padding: 5px;
  margin: 8px 0;
  border: none;
  border-bottom: 1px solid;
}

input[type=submit] {
  width: 50%;
  height: 50px;
  font-size: 1.5rem;
  padding: 5px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  background-color: rgb(73, 39, 8);
  color: aliceblue;
}

textarea {
  border: none;
  border-bottom: 1px solid black;
}

input[type=reset] {
  width: 50px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  background-color: grey;
}

.imagen_store {
  min-width: 300px;
  min-height: 400px;
  width: 30vw;
  height: 30vw;
  max-width: 650px;
}
.imagen_store img {
  width: 100%;
  height: 100%;
}

.iframe_store {
  min-width: 300px;
  min-height: 400px;
  width: 30vw;
  height: 30vw;
  max-width: 650px;
}
.iframe_store iframe {
  width: 100%;
  height: 100%;
}

.seccion_store h2 {
  background-color: rgb(73, 39, 8);
  color: aliceblue;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 30px;
  min-width: 240px;
}

hr {
  border: 2px inset #eee;
  height: 1px;
  width: 100%;
  color: rgb(73, 39, 8);
}

.seccion_formulario {
  animation-name: banner;
  animation-duration: 1.5s;
}

@keyframes banner {
  0% {
    transform: translateX(500%);
  }
  100% {
    transform: translateX(0%);
  }
}
.decorativa {
  background-image: url(../assets/img/imagen_index.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 350px;
  width: 100%;
}
.decorativa h2 {
  font-family: pacifico, "Courier New";
  font-size: 1.7rem;
  font-weight: 400;
  color: antiquewhite;
}

.carousel .carousel-item {
  height: 400px;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .ultimos_productos {
    background: linear-gradient(0deg, rgb(255, 255, 255) 36%, rgb(209, 167, 99) 75%, rgb(209, 167, 99) 100%);
  }
}
.ultimos_productos h2 {
  background-color: #EFEFEF;
  text-align: center;
  padding: 5px;
}

.color-fondo-tarjetas {
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(209, 167, 99) 100%);
  min-height: 400px;
  text-align: center;
  margin: 10px 2px 10px 2px;
}

.contenedor_tarjeta_img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.preguntas_frecuentes {
  /* height: 400px; */
  background-image: url(../assets/img/fondo_quienes_somos.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: whitesmoke;
  /* text-align:center; */
  padding-bottom: 40px;
}
.preguntas_frecuentes h2 {
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: pacifico, "Lucida Sans";
  font-size: 3rem;
  text-align: center;
}
.preguntas_frecuentes article {
  width: 50%;
  margin: 0 auto;
  font-weight: bold;
  color: whitesmoke;
  backdrop-filter: brightness(60%);
  border-radius: 15px;
  margin-bottom: 100px;
  text-align: center;
}

.pregunta {
  color: rgb(244, 228, 111);
}

.decorativa_productos {
  height: 350px;
  background-image: url(../assets/img/sli4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.seccion_productos {
  background-color: white;
  height: auto;
}
.seccion_productos h2 {
  font-family: pacifico, "Lucida Sans";
  color: black;
  font-size: 2rem;
  padding: 20px;
  text-align: center;
}

.seccion_productos_articulos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.invisible {
  background-image: url(../assets/img/dor1_hover.jpg);
  opacity: 0;
}

.invi {
  width: 100%;
  height: 100%;
}

.invi img:last-child {
  display: none;
}

.invi:hover img:last-child {
  display: block;
}

.invi:hover img:first-child {
  display: none;
}

/* BANNER TARJETA */
.banner_tarjeta {
  height: 100px;
  margin: 10px;
  background-color: whitesmoke;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  /* margin: 0; */
}

.credito {
  animation-name: posicion-medio;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}

.tarjeta_banner {
  padding: 10px;
}

.tarjeta_banner p {
  text-align: center;
}

@keyframes posicion-medio {
  0% {
    transform: translateX(400%);
  }
  33% {
    transform: translateX(0%);
  }
  66% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-400%);
  }
}
.contenedor_word {
  width: 100%;
  height: 25px;
  background-color: black;
}

.word {
  width: 100%;
  text-align: center;
  color: white;
  background-color: black;
  float: left;
  opacity: 0;
  position: absolute;
  left: 0;
}

.w1 {
  animation: w1anim 15s infinite;
}

.w2 {
  animation: w2anim 15s infinite;
}

.w3 {
  animation: w3anim 15s infinite;
}

@keyframes w1anim {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  28% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
}
@keyframes w2anim {
  33% {
    opacity: 0;
  }
  38% {
    opacity: 1;
  }
  61% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
}
@keyframes w3anim {
  66% {
    opacity: 0;
  }
  71% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.quienes_somos {
  /* height: 400px; */
  background-image: url(../assets/img/fondo_quienes_somos.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: whitesmoke;
  text-align: center;
  padding-bottom: 40px;
}
.quienes_somos h2 {
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: pacifico, "Lucida Sans";
  font-size: 3rem;
}
.quienes_somos article {
  width: 60%;
  margin: 0 auto;
  font-weight: bold;
  color: whitesmoke;
  backdrop-filter: brightness(60%);
  border-radius: 15px;
  margin-bottom: 100px;
}

.seccion_videos .tammax {
  max-width: 500px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.seccion_videos h2 {
  width: 50%;
  text-align: center;
  font-family: pacifico, "Lucida Sans";
  padding: 30px;
  margin-top: 10px;
  border-radius: 20px;
  background-color: rgb(197, 137, 97);
  color: whitesmoke;
}

.iframe_flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/*# sourceMappingURL=style.css.map */
