@mixin flexbox($direction:row,$justify:flex-start,$align:stretch,$fwrap:nowrap){
	display:flex;
    flex-direction: $direction;
	justify-content:$justify;
	align-items:$align;
    flex-wrap: $fwrap;
}


