
//boton tarjeta zapatos SECCION PRODUCTOS

.tarjeta_zapato_boton {
    background-color: rgb(220, 165, 93);
    color: antiquewhite;
    padding: 5px 10px;
    border-radius: 20px;
    margin-bottom: 5px;
    &:hover{
        border: rgb(204, 146, 81) 2px solid;
        background-color: antiquewhite;
        color: rgb(215, 120, 24);
    }
}


// .tarjeta_zapato_boton:hover {
//     border: rgb(204, 146, 81) 2px solid;
//     background-color: antiquewhite;
//     color: rgb(215, 120, 24);
// }